/**
 * Colors
 */
$primary-color-light: #e6fffb
$primary-color: #13c2c2
$primary-color-deep: #08979c
$primary-color-deeper: #006d75

$success-color: #4cd964
$danger-color: #f94242

$disabled-bg-color: #eceff1
$disabled-border-color: #eaeaea
$disabled-color: #9e9e9e

$common-border-color: #ececec


/**
 * radius
 */
$common-radius: 2px