@import '../style/index'

.bxer-calendar
  margin: 0 -10px
  padding: 4px 10px

  &:hover
    background-color: $disabled-bg-color

  &__selected
    color: $primary-color

  &__content
    display: inline-block
    width: calc(100% - 20px)